body {
  background-image: url("../images/dark_wall.png");
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -279.12px;
  margin-left: -249.6px;
}

div.social-icons {
}

.social-icons {
  text-align: center;
}

.social-icons a {
  color: inherit;
}

.social-icons ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.social-icons ul li {
  padding: 0 13px 0 13px;
  display: inline;
}

.social-icons .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.3em;
  text-align: center;
  color: inherit;
}

.social-icons .fa-facebook, .fa-twitter {
  padding-top: 1px;
}

.social-icons .fa-twitch {
  padding-top: 2px;
}

.social-icons.icon-circle .fa { 
  border-radius: 50%;
  background: #7f7f7f;
}

.social-icons.icon-circle .fa:hover { 
  border-radius: 50%;
  color: white;
  background: #dd2c2a;
}

.icon-zoom .fa {
  -webkit-transition: all .20s linear;
     -moz-transition: all .20s linear;
       -o-transition: all .20s linear;
      -ms-transition: all .20s linear;
          transition: all .20s linear;
}

.icon-zoom .fa:hover {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
       -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/* HIGH RES TABLETS */

@media only screen and (min-width : 1600px) and (min-height: 2560px) {
  #emberlogo {
    -webkit-transform: scale(3);
       -moz-transform: scale(3);
         -o-transform: scale(3);
        -ms-transform: scale(3);
            transform: scale(3);
  }

  .social-icons {
    margin-top: 650px;
    -webkit-transform: scale(3);
       -moz-transform: scale(3);
         -o-transform: scale(3);
        -ms-transform: scale(3);
            transform: scale(3);
  }
}

@media only screen and (min-width : 2560px) and (min-height: 1600px) {
  #emberlogo {
    -webkit-transform: scale(2);
       -moz-transform: scale(2);
         -o-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
  }

  .social-icons {
    margin-top: 300px;
    -webkit-transform: scale(2);
       -moz-transform: scale(2);
         -o-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
  }
}        

/* MOBILE PHONES */

@media only screen and (max-width : 480px) {
  #emberlogo {
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
         -o-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (max-height : 420px) {
  #emberlogo {
    -webkit-transform: scale(0.6);
       -moz-transform: scale(0.6);
         -o-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
  .social-icons {
    position: relative;
    bottom: 40px;
  }

}      

@media only screen and (max-width : 320px) {
  .social-icons {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
         -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}    

@media only screen and (max-height : 480px) {
  .social-icons {
    position: relative;
    bottom: 50px;
  }
}  

